<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
        <title> DrForest - User Graph </title>
    </head>

    <body>
        <div style="height: 100%;width: 100%;">
            <div style="height: 20%;width: 100%;">
                <canvas id="line-chart1"></canvas>
            </div>
            <div style="height: 20%;width: 100%;">
                <canvas id="line-chart2"></canvas>
            </div>

            <div style="height: 20%;width: 100%;">
                <canvas id="line-chart3"></canvas>
            </div>

            <div style="height: 20%;width: 100%;">
                <canvas id="line-chart4"></canvas>
            </div>

            <div style="height: 20%;width: 100%;">
                <canvas id="line-chart5"></canvas>
            </div>
            <script lang="text/javascript" th:inline="javascript">
                "use strict";
                let startTimeCurrent = /*[[${start}]]*/ 'default';
                let endTimeCurrent = /*[[${end}]]*/ 'default';
                let data = /*[[${graph}]]*/ 'default';
                let chartColors = {
                    inaccurateBorder: 'rgb(186,81,0)',
                    nonFilledGraphColor: 'rgba(222, 60, 60, 0.4)',
                    accurateBorder: 'rgb(0, 80, 30)',
                    background: 'rgb(0, 162, 72)',
                    realTimeDataLine: 'rgba(0,72,255, 0.4)'
                };

                let timeArray = [];

                let minuteGpsArray = [];
                let minuteStepArray = [];
                let minuteTrafficArray = [];
                let minuteOnOffArray = [];
                let minuteDozeArray = [];


                let minuteSocialArray = [];
                let minuteHealthArray = [];
                let minuteMentalArray = [];
                let timeUnit = 15 * 60 * 1000

                let length = (endTimeCurrent - startTimeCurrent) / timeUnit

                for (let index = 0; index < length; index++) {
                    timeArray.push(moment(startTimeCurrent + index * timeUnit))
                }

                data["list"].forEach(dto => {
                    // timeArray.push(dto["time"])
                    minuteGpsArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["GPS"] ?? 0) / 1024
                    })

                    minuteStepArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Step"] ?? 0)
                    })

                    minuteOnOffArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["OnOff"] ?? 0) / 60
                    })

                    minuteDozeArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Idle"] ?? 0) / 60
                    })

                    minuteTrafficArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Traffic"] ?? 0) / 1024 / 1024
                    })


                    minuteSocialArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Social"] ?? 0)
                    })


                    minuteHealthArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Health"] ?? 0)
                    })


                    minuteMentalArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Mental"] ?? 0)
                    })
                });

                makeFullChart("line-chart1", timeArray, [
                    {
                        name: "사회 활동",
                        data: minuteSocialArray,
                    },
                    {
                        name: "",
                        data: minuteGpsArray,
                    }, {
                        name: "",
                        data: minuteTrafficArray,
                    },
                ]);

                makeFullChart("line-chart2", timeArray, [
                    {
                        name: "신체 활동",
                        data: minuteHealthArray,
                    },
                    {
                        name: "",
                        data: minuteGpsArray,
                    }, {
                        name: "",
                        data: minuteStepArray,
                    },
                ]);

                makeFullChart("line-chart3", timeArray, [
                    {
                        name: "정서 상태",
                        data: minuteMentalArray,
                    },
                    {
                        name: "",
                        data: minuteOnOffArray,
                    }, {
                        name: "",
                        data: minuteDozeArray,
                    },
                ]);
                window.test = minuteSocialArray;

                /**
                 * Display chart with one bar, and two line.
                 * @param chartElementId Chart ID on HTML.
                 * @param time Time array.
                 *          Schema: [
                 *              "MM-dd HH:mm:ss",
                 *              "MM-dd HH:mm:ss",
                 *              "MM-dd HH:mm:ss"...
                 *          ]
                 * @param charts Chart metadata.
                 *          Schema: [
                 *              {
                 *                  name: "Bar chart name",
                 *                  data: [
                 *                      {x: "MM-dd HH:mm:ss", y: 1},
                 *                      {x: "MM-dd HH:mm:ss", y: 2},
                 *                      {x: "MM-dd HH:mm:ss", y: 3}...
                 *                  ]
                 *              },
                 *              {
                 *                  name: "First line chart name",
                 *                  data: [
                 *                      {x: "MM-dd HH:mm:ss", y: 1},
                 *                      {x: "MM-dd HH:mm:ss", y: 2},
                 *                      {x: "MM-dd HH:mm:ss", y: 3}...
                 *                  ]
                 *              },
                 *              {
                 *                  name: "Second line chart name",
                 *                  data: [
                 *                      {x: "MM-dd HH:mm:ss", y: 1},
                 *                      {x: "MM-dd HH:mm:ss", y: 2},
                 *                      {x: "MM-dd HH:mm:ss", y: 3}...
                 *                  ]
                 *              }
                 *          ]
                 */
                function makeFullChart(chartElementId, time, charts) {
                    let ctx = document.getElementById(chartElementId);
                    let chart = new Chart(ctx, {
                        data: {
                            labels: time,
                            datasets: [
                                {
                                    type: 'bar',
                                    yAxisId: 'barChartY',
                                    label: charts[0].name,
                                    borderWidth: 3,
                                    data: charts[0].data,
                                    fill: true,
                                    pointRadius: 0,
                                    barThickness: 30,
                                    spanGaps: false,
                                },
                                {
                                    type: 'line',
                                    label: charts[1].name,
                                    borderWidth: 3,
                                    data: charts[1].data,
                                    fill: false,
                                    pointRadius: 0,
                                    spanGaps: false,
                                },
                                {
                                    type: 'line',
                                    label: charts[2].name,
                                    borderWidth: 3,
                                    data: charts[2].data,
                                    fill: false,
                                    pointRadius: 0,
                                    spanGaps: false,
                                },
                            ],


                        },
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        let label = context.dataset.label || '';

                                        if (context.parsed.y !== null) {
                                            label = moment(context.parsed.x).utcOffset(+540).format("HH:mm:ss");
                                        }
                                        return label;
                                    }
                                }
                            },
                        },
                        options: {
                            spanGaps: false,
                            maintainAspectRatio: false,
                            title: {
                                display: true,
                                text: '정신 건강 데이터 (0-5, 정상 상태 3)'
                            },
                            plugins: {
                                legend: {
                                    reverse: true,
                                },
                                tooltip: {
                                    callbacks: {}
                                },
                            },
                            axis: {
                                x: {
                                    autoSkip: true,
                                    gridLines: {
                                        display: false,
                                        drawOnChartArea: false
                                    }
                                },
                            },
                            scales: {
                                x: {
                                    display: true,
                                    type: 'timeseries',
                                    time: {
                                        unit: 'minute',
                                        displayFormats: {
                                            minute: 'H:mm',
                                        },
                                        tooltipFormat: 'H:mm'
                                    },
                                    grid: {
                                        display: true,
                                        drawBorder: true,
                                        drawTicks: true,
                                        drawOnChartArea: true
                                    },
                                    ticks: {
                                        callback: function (tick, index, array) {
                                            return (index % 15 === 0) ? tick : "";
                                        }
                                    },
                                    min: startTimeCurrent,
                                    max: endTimeCurrent
                                },
                                y: {
                                    gridLines: {
                                        display: false,
                                    },
                                    ticks: {
                                        callback: function (value, index, ticks) {
                                            if (Math.floor(value) === value) {
                                                return value;
                                            }
                                        }
                                    }
                                },

                                barChartY: {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    ticks: {
                                        min: 1,
                                        max: 4,
                                    }
                                },
                            },
                        }
                    })
                }
            </script>
        </div>
    </body>
</html>