<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
        <title> DrForest - User Graph </title>
    </head>

    <body>
        <!-- TODO - 그래프 순서 재정렬 -->
        <div style="height: 100%;width: 100%;">

            <div style="height: 14.28%;width: 100%;">
                <canvas id="line-chart-total"></canvas>
            </div>

            <div style="height: 14.28%;width: 100%;">
                <canvas id="line-chart4"></canvas>
            </div>

            <div style="height: 14.28%;width: 100%;">
                <canvas id="line-chart5"></canvas>
            </div>

            <div style="height: 14.28%;width: 100%;">
                <canvas id="line-chart6"></canvas>
            </div>

            <div style="height: 14.28%;width: 100%;">
                <canvas id="line-chart1"></canvas>
            </div>
            <div style="height: 14.28%;width: 100%;">
                <canvas id="line-chart2"></canvas>
            </div>

            <div style="height: 14.28%;width: 100%;">
                <canvas id="line-chart3"></canvas>
            </div>

            <script lang="text/javascript" th:inline="javascript">
                "use strict";
                let startTimeCurrent = /*[[${start}]]*/ 'default';
                let endTimeCurrent = /*[[${end}]]*/ 'default';
                let startTimeCurrentDay = /*[[${startDay}]]*/ 'default';
                let endTimeCurrentDay = /*[[${endDay}]]*/ 'default';
                let data = /*[[${graph}]]*/ 'default';
                let dataDate = /*[[${graphDay}]]*/ 'default';
                let chartColors = {
                    inaccurateBorder: 'rgb(186,81,0)',
                    nonFilledGraphColor: 'rgba(222, 60, 60, 0.4)',
                    accurateBorder: 'rgb(0, 80, 30)',
                    background: 'rgb(0, 162, 72)',
                    realTimeDataLine: 'rgba(0,72,255, 0.4)'
                };

                let timeArray = [];
                let timeArrayDate = [];

                let minuteGpsArray = [];
                let minuteStepArray = [];
                let minuteTrafficArray = [];
                let minuteOnOffArray = [];
                let minuteDozeArray = [];


                let minuteSocialArray = [];
                let minuteHealthArray = [];
                let minuteMentalArray = [];


                let dateSocialArray = [];
                let dateHealthArray = [];
                let dateMentalArray = [];
                let dateTotalArray = [];
                let timeUnit = 15 * 60 * 1000
                let timeUnitDate = 60 * 60 * 24 * 1000

                console.log("Before processing: " + startTimeCurrent)
                let startTime = startTimeCurrent - (startTimeCurrent % timeUnit)
                let endTime = endTimeCurrent + (timeUnit - (endTimeCurrent % timeUnit))
                let startTimeDate = startTimeCurrentDay - (startTimeCurrentDay % timeUnitDate) + 15 * 60 * 60 * 1000 // Show the daily average graph for 5 days
                let endTimeDate = endTimeCurrentDay + (timeUnit - (endTimeCurrentDay % timeUnitDate)) - 9 * 60 * 60 * 1000 // Remove the cropped part on the right

                let length = (endTime - startTime) / timeUnit
                let lengthDate = (endTimeDate - startTimeDate) / timeUnitDate

                for (let index = 0; index < length; index++) {
                    timeArray.push(moment(startTime + index * timeUnit))
                }

                for (let index = 0; index < lengthDate; index++) {
                    timeArrayDate.push(moment(startTimeDate + index * timeUnitDate))
                }

                data["list"].forEach(dto => {
                    // timeArray.push(dto["time"])
                    minuteGpsArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["GPS"] ?? 0) / 1000 // Change the standard correctly
                    })

                    minuteStepArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Step"] ?? 0)
                    })

                    minuteOnOffArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["OnOff"] ?? 0) / 60
                    })

                    minuteDozeArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Idle"] ?? 0) / 60
                    })

                    minuteTrafficArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Traffic"] ?? 0) / 1024 / 1024
                    })


                    minuteSocialArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Social"] ?? 0)
                    })


                    minuteHealthArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Health"] ?? 0)
                    })


                    minuteMentalArray.push({
                        x: moment(dto["time"]),
                        y: (dto["value"]["Mental"] ?? 0)
                    })
                });

                console.log(dataDate["list"])

                dataDate["list"].forEach(dto => {

                    dateSocialArray.push({
                        x: moment(new Date(dto["time"]) - new Date(9 * 60 * 60 * 1000)), // Move the daily average graph to the center
                        y: (dto["value"]["Social"] ?? 0)
                    })


                    dateHealthArray.push({
                        x: moment(new Date(dto["time"]) - new Date(9 * 60 * 60 * 1000)), // Move the daily average graph to the center
                        y: (dto["value"]["Health"] ?? 0)
                    })


                    dateMentalArray.push({
                        x: moment(new Date(dto["time"]) - new Date(9 * 60 * 60 * 1000)), // Move the daily average graph to the center
                        y: (dto["value"]["Mental"] ?? 0)
                    })


                    dateTotalArray.push({
                        x: moment(new Date(dto["time"]) - new Date(9 * 60 * 60 * 1000)), // Move the daily average graph to the center
                        y: (dto["value"]["Total"] ?? 0)
                    })
                })

                makeFullChart("line-chart1", timeArray, [
                    {
                        name: "신체 활동",
                        data: minuteHealthArray,
                    },
                    {
                        name: "이동 거리",
                        data: minuteGpsArray,
                    }, {
                        name: "걸음 수",
                        data: minuteStepArray,
                    },
                ]);

                makeFullChart("line-chart2", timeArray, [
                    {
                        name: "사회 활동",
                        data: minuteSocialArray,
                    },
                    {
                        name: "이동 거리",
                        data: minuteGpsArray,
                    }, {
                        name: "데이터",
                        data: minuteTrafficArray,
                    },
                ]);

                makeFullChart("line-chart3", timeArray, [
                    {
                        name: "정서 상태",
                        data: minuteMentalArray,
                    },
                    {
                        name: "기기 활성화 수치",
                        data: minuteOnOffArray,
                    }, {
                        name: "대기 시간",
                        data: minuteDozeArray,
                    },
                ]);


                makeSingleChart("line-chart4", 4, timeArrayDate,
                    {
                        name: "신체 활동",
                        data: dateHealthArray,
                    },
                );


                makeSingleChart("line-chart5", 4, timeArrayDate,
                    {
                        name: "사회 활동",
                        data: dateSocialArray,
                    },
                );

                makeSingleChart("line-chart6", 4, timeArrayDate,
                    {
                        name: "정서 상태",
                        data: dateMentalArray,
                    },
                );


                makeSingleChart("line-chart-total", 10, timeArrayDate, // Set the daily average graph maximum
                    {
                        name: "정신건강 결과수치",
                        data: dateTotalArray,
                    },
                );
                window.test = minuteSocialArray;

                /**
                 * Display chart with one bar, and two line.
                 * @param chartElementId Chart ID on HTML.
                 * @param time Time array.
                 *          Schema: [
                 *              "MM-dd HH:mm:ss",
                 *              "MM-dd HH:mm:ss",
                 *              "MM-dd HH:mm:ss"...
                 *          ]
                 * @param charts Chart metadata.
                 *          Schema: [
                 *              {
                 *                  name: "Bar chart name",
                 *                  data: [
                 *                      {x: "MM-dd HH:mm:ss", y: 1},
                 *                      {x: "MM-dd HH:mm:ss", y: 2},
                 *                      {x: "MM-dd HH:mm:ss", y: 3}...
                 *                  ]
                 *              },
                 *              {
                 *                  name: "First line chart name",
                 *                  data: [
                 *                      {x: "MM-dd HH:mm:ss", y: 1},
                 *                      {x: "MM-dd HH:mm:ss", y: 2},
                 *                      {x: "MM-dd HH:mm:ss", y: 3}...
                 *                  ]
                 *              },
                 *              {
                 *                  name: "Second line chart name",
                 *                  data: [
                 *                      {x: "MM-dd HH:mm:ss", y: 1},
                 *                      {x: "MM-dd HH:mm:ss", y: 2},
                 *                      {x: "MM-dd HH:mm:ss", y: 3}...
                 *                  ]
                 *              }
                 *          ]
                 */
                function makeFullChart(chartElementId, time, charts) {
                    let ctx = document.getElementById(chartElementId);
                    let chart = new Chart(ctx, {
                        data: {
                            labels: time,
                            datasets: [
                                // {
                                //     type: 'bar',
                                //     yAxisID: 'yAxisBg01',
                                //     label: charts[0].name,
                                //     borderWidth: 0.4,
                                //     data: charts[0].data,
                                //     fill: true,
                                //     backgroundColor: 'rgb(0, 162, 72)',
                                //     pointRadius: 0,
                                //     barThickness: 5,
                                //     spanGaps: false,
                                // },
                                {
                                    type: 'line',
                                    backgroundColor: 'rgba(0,72,255, 0.4)',
                                    borderColor: 'rgba(0,72,255, 1)',
                                    label: charts[1].name,
                                    borderWidth: 1,
                                    data: charts[1].data,
                                    fill: false,
                                    pointRadius: 1,
                                    spanGaps: false,
                                    // Remove the auxiliary shaft
                                    //yAxisID: 'yAxis01'
                                },
                                {
                                    type: 'line',
                                    backgroundColor: 'rgba(64,151,54, 0.4)',
                                    borderColor: 'rgba(64,151,54, 1)',
                                    label: charts[2].name,
                                    borderWidth: 1,
                                    data: charts[2].data,
                                    fill: false,
                                    pointRadius: 1,
                                    barThickness: 5,
                                    spanGaps: false,
                                    // Remove the auxiliary shaft
                                    //yAxisID: 'yAxis02'
                                },
                            ],


                        },
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        let label = context.dataset.label || '';

                                        if (context.parsed.y !== null) {
                                            label = moment(context.parsed.x).utcOffset(+540).format("HH:mm:ss");
                                        }
                                        return label;
                                    }
                                }
                            },
                        },
                        options: {
                            spanGaps: false,
                            maintainAspectRatio: false,
                            title: {
                                display: true,
                                text: '정신 건강 데이터 (0-5, 정상 상태 3)'
                            },
                            plugins: {
                                legend: {
                                    reverse: true,
                                },
                                tooltip: {
                                    callbacks: {}
                                },
                            },
                            axis: {
                                x: {
                                    autoSkip: true,
                                    gridLines: {
                                        display: false,
                                        drawOnChartArea: false
                                    }
                                },
                            },
                            scales: {
                                x: {
                                    display: true,
                                    type: 'timeseries',
                                    time: {
                                        unit: 'minute',
                                        displayFormats: {
                                            minute: "MM-DD \n H:mm",
                                        },
                                        tooltipFormat: 'H:mm'
                                    },
                                    grid: {
                                        display: true,
                                        drawBorder: true,
                                        drawTicks: true,
                                        drawOnChartArea: true
                                    },
                                    ticks: {
                                        callback: function (tick, index, array) {
                                            return (index % 5 === 0) ? tick : ""; // Change the x-axis intervals
                                        }
                                    },
                                    min: startTime,
                                    max: endTime
                                },
                                // Remove the auxiliary shaft
                                /*
                                yAxis01: {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                },
                                yAxis02: {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                },

                                yAxisBg01: {
                                    type: 'linear',
                                    display: false,
                                    ticks: {
                                        display: false
                                    }
                                },
                                */
                                barChartY: {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    // ticks is not working :(
                                    //ticks: {
                                        min: 0,
                                    //}
                                },
                            },
                        }
                    })
                }

                /**
                 * Display chart with one line chart.
                 * @param chartElementId Chart ID on HTML.
                 * @param time Time array.
                 *          Schema: [
                 *              "MM-dd HH:mm:ss",
                 *              "MM-dd HH:mm:ss",
                 *              "MM-dd HH:mm:ss"...
                 *          ]
                 * @param charts Chart metadata.
                 *          Schema:
                 *            {
                 *                name: "Bar chart name",
                 *                data: [
                 *                    {x: "MM-dd HH:mm:ss", y: 1},
                 *                    {x: "MM-dd HH:mm:ss", y: 2},
                 *                    {x: "MM-dd HH:mm:ss", y: 3}...
                 *                ]
                 *            }
                 */
                function makeSingleChart(chartElementId, maxValue, time, charts) {
                    let ctx = document.getElementById(chartElementId);
                    let chart = new Chart(ctx, {
                        data: {
                            labels: time,
                            datasets: [
                                {
                                    type: 'bar',
                                    label: charts.name,
                                    borderWidth: 1,
                                    data: charts.data,
                                    backgroundColor: 'rgba(0,72,255, 0.4)',
                                    borderColor: 'rgba(0,72,255, 1)',
                                    pointRadius: 0,
                                    spanGaps: false,
                                }
                            ],
                        },
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        let label = context.dataset.label || '';

                                        if (context.parsed.y !== null) {
                                            label = moment(context.parsed.x).utcOffset(+540).format("HH:mm:ss");
                                        }
                                        return label;
                                    }
                                }
                            },
                        },
                        options: {
                            spanGaps: false,
                            maintainAspectRatio: false,
                            title: {
                                display: true,
                                text: '정신 건강 데이터 (0-5, 정상 상태 3)'
                            },
                            plugins: {
                                legend: {
                                    reverse: true,
                                },
                                tooltip: {
                                    callbacks: {}
                                },
                            },
                            axis: {
                                x: {
                                    autoSkip: false,
                                    gridLines: {
                                        display: false,
                                        drawOnChartArea: false
                                    }
                                },
                            },
                            scales: {
                                x: {
                                    display: true,
                                    type: 'timeseries',
                                    time: {
                                        unit: 'day',

                                        displayFormats: {
                                            day: 'MM-DD',
                                        },
                                        tooltipFormat: 'YYYY-MM-DD' // Change the daily average graph tooltip to hide the hour
                                    },
                                    grid: {
                                        display: true,
                                        drawBorder: true,
                                        drawTicks: true,
                                        drawOnChartArea: true
                                    },
                                    ticks: {
                                        stepSize: 1
                                    },
                                    min: startTimeDate,
                                    max: endTimeDate
                                },

                                y: {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    // ticks is not working :(
                                    //ticks: {
                                        min: 0,
                                        max: maxValue,
                                    //}
                                },
                            },
                        }
                    })
                }
            </script>
        </div>
    </body>
</html>